body {
	background-color: white;
  }

@font-face {
font-family: "Marianne-Bold";
src: url("fonts/Marianne-Bold.woff") format('woff');
}
::selection {
background: #fffab7;
}

#helloworld {
	position: absolute;
    font-weight: 700;
	margin-left: 160px;
    margin-top: 60px;
	color: #333333;
	font-family: Marianne-Bold;
	font-size: 64px;
	font-weight: 700;
}
#youarebeautiful {
	position: absolute;
    font-weight: 700;
	margin-left: 160px;
    margin-top: 140px;
	color: #616161;
	font-family: Marianne-Bold;
	font-size: 40px;
	font-weight: 700;
}

#whatdoIdo {
	position: absolute;
    font-weight: 700;
	margin-left: 160px;
    margin-top: 260px;
	color: #242424;
	font-family: Marianne-Bold;
	font-size: 36px;
	font-weight: 800;
	text-align: right;
  }
  
  #whatdoIuse {
	position: absolute;
    font-weight: 700;
	margin-left: 1060px;
    margin-top: 260px;
	color: #242424;
	font-family: Marianne-Bold;
	font-size: 36px;
	font-weight: 800;
	text-align: right;
  }

#jsLogo {
	position: absolute;
	margin-left: 160px;
	margin-top: 340px;
	width: 45px;
	height: 45px;
}

#cssLogo {
	position: absolute;
	margin-left: 240px;
	margin-top: 335px;
	width: 50px;
	height: 50px;
}

#htmlLogo {
	position: absolute;
	margin-left: 320px;
	margin-top: 335px;
	width: 50px;
	height: 50px;
}

#luaLogo {
	position: absolute;
	margin-left: 400px;
	margin-top: 340px;
	width: 50px;
	height: 50px;
}

#vsLogo {
	position: absolute;
	margin-left: 1060px;
	margin-top: 340px;
	width: 39px;
	height: 39px;
}

#copilotLogo {
	position: absolute;
	margin-left: 1140px;
	margin-top: 345px;
	width: 43px;
	height: 34.94px;
}

#xamppLogo {
	position: absolute;
	margin-left: 1220px;
	margin-top: 340px;
	width: 43px;
	height: 43.34px;
}

#npmLogo {
	position: absolute;
	margin-left: 1300px;
	margin-top: 340px;
	width: 150px;
	height: 58.33px;
}

#wherecanIf {
	position: absolute;
	font-weight: 700;
	margin-left: 160px;
	margin-top: 450px;
	color: #242424;
	font-family: Marianne-Bold;
	font-size: 36px;
	font-weight: 800;
	text-align: right;
  }

